/* Cast component CSS */
.cast {
    background: rgb(36,21,0);
    background: linear-gradient(90deg, rgba(36,21,0,0.40379901960784315) 0%, rgba(138,129,55,0.6727065826330532) 47%, rgba(255,149,0,0.3029586834733894) 100%);

    border-radius: 7px;
    padding: 10px 30px;
    text-align: left;
    color: #fff;

}

.cast img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
    display: block
}

.cast p span {
    color: lightcoral;
}
.cast button {
    background-color: lightcoral;
    padding: 7px 20px;
    border: 1px solid #a18b4b;
    border-radius: 4px;
    margin: 15px 0px;
    color: floralwhite;
    cursor: pointer;
}