.header-container {
    background: rgb(36,21,0);
    background: linear-gradient(90deg, rgba(36,21,0,0.40379901960784315) 0%, rgba(138,129,55,0.6727065826330532) 47%, rgba(255,149,0,0.3029586834733894) 100%);
    color: #fff;
    padding: 5px 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}